<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta name="viewport" content="width=device-width" />
    @* title is the name of the tab in the browser *@
    <title>@Page.Title</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/myStyleSheet1.css" rel="stylesheet" /> @*we added jumbotron here to overwrite jumbotron in bootstrap.css*@
</head>
<body>
    
    <div class="container-fluid">  @*container-fluid looks at your monitor and sets an appropriate width value*@
        <!-- this will be the menu area -->
        <div class="navbar navbar-default navbar-fixed-top">
            <!-- this will be the title on the menu (brand)-->
            <div class="navbar-header">
                <a class="navbar-brand" style="font-size:x-large"><strong>Razor Samples</strong></a> @*this is where you would put the company name or something like that*@ 
            </div>
                <!-- this will be the menu root items-->
            <ul class="nav navbar-nav">
                <!-- this will be a menu item -->
                <li><a href="@Href("~/default.cshtml")">Home</a></li>
                @*creating a dropdown menu*@
                <li class="dropdown">
                    @*this will be the menu root item (aka the item you will click to make the dropdown menu appear)*@
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Controls <b class="caret"></b></a> @*there needs to be an anchor (<a>) tag at the top of your dropdown menu*@
                    <ul class="dropdown-menu">
                        <li><a href="@Href("~/controls/TextBoxes.cshtml")">Textbox</a></li>
                    </ul>
                </li>                
            </ul>
        </div>
        <br /><br />

        <div class="jumbotron">
            @RenderSection("banner", required: true)
        </div>

        @* @ sign escapes html mode and allows you to use c# code*@
        @RenderBody()
        <br />
        <hr style="line-height:5px" />
        @RenderSection("footer", required: false)
    </div>
</body>
</html>

@* the underscore at the start of the name makes it impossible to load this page directly *@
